AIPI 510 PROJECT
CINDY CHANG

In [87]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt

Getting AVIS Rental Car API:
Client ID: 180ab12c
Client Secret: 7eab40d14a709e6b91ea6806771ed0e6

In [88]:
def apicall():
    import requests

    headers = {
    'client_id': '180ab12c',
    'client_secret': '7eab40d14a709e6b91ea6806771ed0e6',
}

    response = requests.get('https://stage.abgapiservices.com/oauth/token/v1', headers=headers)
    results = response.json()
    return results

get available car with vehicle brands, vehicle features, and rates

In [89]:
def getdata(token):
    token = token
    headers = {
    'client_id': '180ab12c',
    'Authorization': f'''Bearer {token}''' ## <-- This needed the word Bearer added to the authorization.
}
    ###
    #write a parameter that can be a changing variable in endpoint
    ###

    response = requests.get('https://stage.abgapiservices.com/cars/catalog/v1/vehicles?brand=Avis&pickup_date=2023-01-01T12:00:00&pickup_location=ATL&dropoff_date=2023-01-03T12:00:00&dropoff_location=ATL&country_code=US', headers=headers)
    results = response.json()
    return results

In [137]:
data = getdata(token)

df = pd.DataFrame.from_dict(data['vehicles'])
objs = [df, pd.DataFrame(df['category'].tolist()).iloc[:, :8]]

df2 = pd.concat(objs, axis=1).drop('category', axis=1)
#df2 = pd.concat(objs_2, axis=1).drop('features', axis=1)
df2.head()

##still working on spliting columns##

,features,capacity,rate_totals,name,make,model,sipp_code,vehicle_class_code,vehicle_class_name,vehicle_transmission,mpg
0,"{'bluetooth_equipped': False, 'smoke_free': Tr...","{'doors': '4', 'seats': '5', 'mpg': '27/35', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'...",Ford Fiesta or similar,Kia,Rio,ECAR,A,Economy,Automatic,27/35
1,"{'bluetooth_equipped': False, 'smoke_free': Tr...","{'doors': '4', 'seats': '5', 'mpg': '25/29', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'...",Group B - Kia Soul or similar,Kia,Soul,CCAR,B,Compact,Automatic,25/29
2,"{'bluetooth_equipped': False, 'smoke_free': Tr...","{'doors': '4', 'seats': '5', 'mpg': '29/35', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'...",Group C - Toyota Corolla or similar,Toyota,Corolla,ICAR,C,Intermediate,Automatic,29/35
3,"{'bluetooth_equipped': False, 'air_conditioned...","{'doors': '4', 'seats': '5', 'mpg': '24/35', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'...",Group D - Volkswagen Jetta or similar,Volkswagen,Jetta,SCAR,D,Standard,Automatic,24/35
4,"{'bluetooth_equipped': False, 'air_conditioned...","{'doors': '4', 'seats': '5', 'mpg': '22/30', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'...",Group E - Toyota Camry or similar,Toyota,Camry,FCAR,E,Full-Size,Automatic,22/30