AIPI 510 PROJECT
CINDY CHANG

In [87]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt

Getting AVIS Rental Car API:
Client ID: 180ab12c
Client Secret: 7eab40d14a709e6b91ea6806771ed0e6

In [88]:
def apicall():
    import requests

    headers = {
    'client_id': '180ab12c',
    'client_secret': '7eab40d14a709e6b91ea6806771ed0e6',
}

    response = requests.get('https://stage.abgapiservices.com/oauth/token/v1', headers=headers)
    results = response.json()
    return results

get available car with vehicle brands, vehicle features, and rates

In [89]:
def getdata(token):
    token = token
    headers = {
    'client_id': '180ab12c',
    'Authorization': f'''Bearer {token}''' ## <-- This needed the word Bearer added to the authorization.
}
    ###
    #write a parameter that can be a changing variable in endpoint
    ###

    response = requests.get('https://stage.abgapiservices.com/cars/catalog/v1/vehicles?brand=Avis&pickup_date=2023-01-01T12:00:00&pickup_location=ATL&dropoff_date=2023-01-03T12:00:00&dropoff_location=ATL&country_code=US', headers=headers)
    results = response.json()
    return results

In [90]:
data = getdata(token)
df = pd.DataFrame.from_dict(data['vehicles'])
df.head()

,category,features,capacity,rate_totals
0,"{'name': 'Ford Fiesta or similar', 'make': 'Ki...","{'bluetooth_equipped': False, 'smoke_free': Tr...","{'doors': '4', 'seats': '5', 'mpg': '27/35', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'..."
1,"{'name': 'Group B - Kia Soul or similar', 'mak...","{'bluetooth_equipped': False, 'smoke_free': Tr...","{'doors': '4', 'seats': '5', 'mpg': '25/29', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'..."
2,{'name': 'Group C - Toyota Corolla or similar'...,"{'bluetooth_equipped': False, 'smoke_free': Tr...","{'doors': '4', 'seats': '5', 'mpg': '29/35', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'..."
3,{'name': 'Group D - Volkswagen Jetta or simila...,"{'bluetooth_equipped': False, 'air_conditioned...","{'doors': '4', 'seats': '5', 'mpg': '24/35', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'..."
4,"{'name': 'Group E - Toyota Camry or similar', ...","{'bluetooth_equipped': False, 'air_conditioned...","{'doors': '4', 'seats': '5', 'mpg': '22/30', '...","{'rate': {'currency': 'USD', 'rate_code': '2A'..."