<a href="https://colab.research.google.com/github/JADukeAIPI/AIPIProject/blob/main/dbpopulate_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3 as db
import numpy as np
#Import .py modules with processed data: readcsv contains Kaggle data, WebScrapingAtlantaEvents contains Discover Atlanta event data,
#and APICALL contains Budget Car Rental data

import LuxuryCarAPIMultipleDates

In [ ]:
import APICALL

In [1]:
import pandas as pd
import sqlite3 as db
import numpy as np
import WebScrapingAtlantaEvents

In [ ]:
import readcsv

In [2]:
# Creates a blank db if one does not exist, otherwise opens connection to rentaldb, and drops the tables Kaggle, API, and Webscrape
conn = db.connect('rentaldb')
c = conn.cursor()
#c.execute("DROP TABLE IF EXISTS Kaggle")
#c.execute("DROP TABLE IF EXISTS API")
#c.execute("DROP TABLE IF EXISTS LuxuryAPI")
#c.execute("DROP TABLE IF EXISTS AllCarsAPI")
c.execute("DROP TABLE IF EXISTS Webscrape")
c.execute("DROP TABLE IF EXISTS LargeEvents")

In [3]:
#Runs the sort_lux_df function from the readcsv import. This function reads the CarRentalDataV1 csv data into a dataframe
#sorts it based on location (Atlanta), then filters the vehciles to only show luxury brands/models.
#csvdf = readcsv.sort_lux_df()
#This injects the sort_lux_df into the Kaggle table of the rentaldb 
#csvdf.to_sql('Kaggle', conn, if_exists='replace')

#Runs the get_events function from the WebScrapingAtlantaEvents import. This function scrapes Discover Atlanta, 
#and formats the events
webdf = WebScrapingAtlantaEvents.get_events('2022-11-19', '2023-03-03')
#This injects the get_events data into the Webscrape table of the rentaldb 
webdf.to_sql('Webscrape', conn, if_exists='replace')

#Gets large venue events at the Mercedes-Benz stadium and State Farm Arena, and injects into the LargeEvents table of the rentaldb
large_venue_query = 'Location.str.contains("State Farm Arena|Mercedes-Benz Stadium")'
web_large_venue_df = WebScrapingAtlantaEvents.get_events('2022-11-19', '2023-03-03', query_string=large_venue_query)
web_large_venue_df.to_sql('LargeEvents', conn, if_exists='replace')

#Runs the api_request function from APICALL. This function calls the API, and reads the data as JSON, then turns it into a df
#df2 = APICALL.api_request()
#Runs the clean_api_df function from APICALL. This function cleans the df2 dataframe that the api_request function created
#apidf = APICALL.clean_api_df(df2)
#This injects the cleaned API data into API table of the rentaldb
#apidf.to_sql('API', conn, if_exists='replace')

#Runs the get_bookings_multiple_dates function from LuxuryCarAPIMultipleDates. This function calls the API and requests the specified days of booking information.
#We will retrieve all cars and inject into AllCarsAPI, and luxury cars and inject into LuxuryAPI
#all_cars_apidf = LuxuryCarAPIMultipleDates.get_bookings_multiple_dates('2022-11-18', '2023-03-03')
#all_cars_apidf.to_sql('AllCarsAPI', conn, if_exists='replace')
#all_cars_apidf.to_csv('AllCarsAPI.csv')
#all_cars_apidf.to_pickle('AllCarsAPI.pkl')

#luxuryapidf = all_cars_apidf.loc[all_cars_apidf['Category']=='Luxury'] 
#luxuryapidf.to_sql('LuxuryAPI', conn, if_exists='replace')
#luxuryapidf.to_csv('LuxuryAPI.csv')
#luxuryapidf.to_pickle('LuxuryAPI.pkl')

32

In [8]:
#Verifying the tables are in the rentaldb
csvdf = pd.read_sql_query("SELECT * FROM Kaggle", conn)
apidf = pd.read_sql_query("SELECT * FROM API", conn)
luxuryapidf = pd.read_sql_query("SELECT * FROM LuxuryAPI", conn)
scrapedf = pd.read_sql_query("SELECT * FROM Webscrape", conn)
all_cars_apidf = pd.read_sql_query("SELECT * FROM AllCarsAPI", conn)
web_large_venue_df = pd.read_sql_query("SELECT * FROM LargeEvents", conn)

print('Kaggle Data')
display(csvdf.head())
print('API Data')
display(apidf.head())
print('All Car DAta')
display(all_cars_apidf.head())
print('Luxury API Data')
display(luxuryapidf.head(50))
print('Webscrape Data')
display(scrapedf.head())
print('Large Venue Events')
display(web_large_venue_df)

Kaggle Data

,index,fuelType,rating,renterTripsTaken,reviewCount,city,country,latitude,location.longitude,location.state,owner.id,daily_rate,make,model,type,year,airportcity
0,41,GASOLINE,5.00,12,10,Grayson,US,33.906905,-83.960234,GA,1295660,175,Mercedes-Benz,S-Class,car,2015,Atlanta
1,42,GASOLINE,5.00,2,2,Atlanta,US,33.891295,-84.453929,GA,12796797,200,BMW,7 Series,car,2018,Atlanta
2,50,GASOLINE,4.96,152,140,Atlanta,US,33.927684,-84.343055,GA,511103,155,Chevrolet,Corvette Stingray,car,2014,Atlanta
3,54,GASOLINE,5.00,23,21,Atlanta,US,33.740676,-84.358236,GA,8752492,209,Audi,RS 7,car,2014,Atlanta
4,57,ELECTRIC,4.88,18,16,Duluth,US,33.970512,-84.161462,GA,8609349,159,Tesla,Model S,car,2018,Atlanta

API Data

,index,Vehicle_id,Vehicle_Name,Category,Transmission,Dropoff_City,Base_Price,Pickup_City
0,221,673928006,Mercedes-Benz GLC,Luxury,Automatic,,367.62,
1,235,644881573,Cadillac XTS,Luxury,Automatic,,366.94,
2,216,636479888,Cadillac XTS,Luxury,Automatic,,353.16,
3,214,646119413,Cadillac XTS,Luxury,Automatic,,341.64,
4,179,723428946,BMW 5 Series,Luxury,Automatic,,338.18,

All Car DAta

,index,Vehicle_id,Vehicle_Name,Category,Transmission,Base_Price,Price,Date_Pickup,Date_Dropoff
0,85,644881578,Ford Mustang Cabrio,Standard,Automatic,244.83,252.90,2022-11-18,2022-11-19
1,92,646119363,Ford Mustang Cabrio,Standard,Automatic,231.37,238.99,2022-11-18,2022-11-19
2,81,644901178,Ford Mustang Cabrio,Standard,Automatic,226.77,234.24,2022-11-18,2022-11-19
3,79,644861498,Ford Mustang Cabrio,Standard,Automatic,214.75,221.83,2022-11-18,2022-11-19
4,87,646151248,Ford Mustang Cabrio,Standard,Automatic,213.43,220.46,2022-11-18,2022-11-19

Luxury API Data

,index,Vehicle_id,Vehicle_Name,Category,Transmission,Base_Price,Price,Date_Pickup,Date_Dropoff
0,82,644881573,Cadillac XTS,Luxury,Automatic,176.95,182.78,2022-11-18,2022-11-19
1,84,646119413,Cadillac XTS,Luxury,Automatic,163.90,169.30,2022-11-18,2022-11-19
2,93,644901168,Cadillac XTS,Luxury,Automatic,158.89,164.13,2022-11-18,2022-11-19
3,90,644861493,Cadillac XTS,Luxury,Automatic,146.87,151.71,2022-11-18,2022-11-19
4,89,646151293,Cadillac XTS,Luxury,Automatic,145.96,150.77,2022-11-18,2022-11-19
5,58,644841863,Cadillac XTS,Luxury,Automatic,134.82,139.26,2022-11-18,2022-11-19
6,80,646141193,Cadillac XTS,Luxury,Automatic,133.99,138.40,2022-11-18,2022-11-19
7,59,735898091,Cadillac XTS,Luxury,Automatic,133.99,138.40,2022-11-18,2022-11-19
8,57,735895261,Cadillac XTS,Luxury,Automatic,122.04,126.06,2022-11-18,2022-11-19
9,219,644881573,Cadillac XTS,Luxury,Automatic,155.11,160.22,2022-11-19,2022-11-20
10,215,636479888,Cadillac XTS,Luxury,Automatic,148.18,153.06,2022-11-19,2022-11-20
11,182,646119413,Cadillac XTS,Luxury,Automatic,142.19,146.88,2022-11-19,2022-11-20
12,198,644901168,Cadillac XTS,Luxury,Automatic,137.07,141.59,2022-11-19,2022-11-20
13,222,636492688,Cadillac XTS,Luxury,Automatic,130.24,134.53,2022-11-19,2022-11-20
14,203,644861493,Cadillac XTS,Luxury,Automatic,125.02,129.14,2022-11-19,2022-11-20
15,204,646151293,Cadillac XTS,Luxury,Automatic,124.26,128.35,2022-11-19,2022-11-20
16,193,636472613,Cadillac XTS,Luxury,Automatic,118.27,122.17,2022-11-19,2022-11-20
17,111,644841863,Cadillac XTS,Luxury,Automatic,113.00,116.72,2022-11-19,2022-11-20
18,112,735898091,Cadillac XTS,Luxury,Automatic,112.31,116.01,2022-11-19,2022-11-20
19,169,646141193,Cadillac XTS,Luxury,Automatic,112.31,116.01,2022-11-19,2022-11-20
20,121,636464758,Cadillac XTS,Luxury,Automatic,106.32,109.82,2022-11-19,2022-11-20
21,86,735895261,Cadillac XTS,Luxury,Automatic,100.33,103.64,2022-11-19,2022-11-20
22,292,644881573,Cadillac XTS,Luxury,Automatic,207.26,214.09,2022-11-20,2022-11-21
23,283,636479888,Cadillac XTS,Luxury,Automatic,199.99,206.58,2022-11-20,2022-11-21
24,267,646119413,Cadillac XTS,Luxury,Automatic,194.02,200.41,2022-11-20,2022-11-21
25,268,644901168,Cadillac XTS,Luxury,Automatic,189.20,195.43,2022-11-20,2022-11-21
26,278,636492688,Cadillac XTS,Luxury,Automatic,182.06,188.06,2022-11-20,2022-11-21
27,240,644861493,Cadillac XTS,Luxury,Automatic,177.17,183.01,2022-11-20,2022-11-21
28,241,646151293,Cadillac XTS,Luxury,Automatic,176.08,181.88,2022-11-20,2022-11-21
29,281,636472613,Cadillac XTS,Luxury,Automatic,170.10,175.70,2022-11-20,2022-11-21
30,244,644841863,Cadillac XTS,Luxury,Automatic,165.13,170.57,2022-11-20,2022-11-21
31,238,735898091,Cadillac XTS,Luxury,Automatic,164.11,169.52,2022-11-20,2022-11-21
32,269,646141193,Cadillac XTS,Luxury,Automatic,164.11,169.52,2022-11-20,2022-11-21
33,251,636464758,Cadillac XTS,Luxury,Automatic,158.12,163.33,2022-11-20,2022-11-21
34,211,735895261,Cadillac XTS,Luxury,Automatic,152.16,157.17,2022-11-20,2022-11-21
35,207,658137488,Chrysler 300,Luxury,Automatic,134.30,138.73,2022-11-20,2022-11-21
36,209,658190013,Chrysler 300,Luxury,Automatic,132.99,137.37,2022-11-20,2022-11-21
37,192,642896921,Chrysler 300,Luxury,Automatic,121.14,125.13,2022-11-20,2022-11-21
38,170,659534556,Chrysler 300,Luxury,Automatic,121.01,125.00,2022-11-20,2022-11-21
39,253,658163273,Chrysler 300,Luxury,Automatic,119.82,123.77,2022-11-20,2022-11-21
40,145,643095306,Buick LaCrosse,Luxury,Automatic,119.69,123.63,2022-11-20,2022-11-21
41,136,631553768,Lincoln Continental,Luxury,Automatic,113.73,117.48,2022-11-20,2022-11-21
42,128,638446461,Chrysler 300,Luxury,Automatic,110.61,114.25,2022-11-20,2022-11-21
43,106,638489136,Chrysler 300,Luxury,Automatic,109.16,112.76,2022-11-20,2022-11-21
44,102,585207183,Chrysler 300,Luxury,Automatic,107.97,111.53,2022-11-20,2022-11-21
45,105,631938698,Buick LaCrosse,Luxury,Automatic,106.53,110.04,2022-11-20,2022-11-21
46,185,673928006,Mercedes-Benz GLC,Luxury,Automatic,164.41,169.83,2022-11-21,2022-11-22
47,196,644881573,Cadillac XTS,Luxury,Automatic,162.81,168.17,2022-11-21,2022-11-22
48,210,636479888,Cadillac XTS,Luxury,Automatic,156.04,161.18,2022-11-21,2022-11-22
49,194,723428946,BMW 5 Series,Luxury,Automatic,151.31,156.30,2022-11-21,2022-11-22

Webscrape Data

,index,Event,Dates,Location,Description
0,1689,Champions Of Magic,2022-11-20,Cobb Energy Performing Arts Centre,Break away from the screen and experience live...
1,1690,Harry Potter: The Exhibition,2022-11-20,Purchase tickets online,Harry Potter: The Exhibition will make its sec...
2,1691,Retreat into Oneness,2022-11-20,Elohee Retreat Center,Retreat into Oneness offers a respite from the...
3,1692,PAW Patrol: Adventure Play,2022-11-20,Children’s Museum of Atlanta,Adventure Bay is coming to CMA! PAW Patrol: Ad...
4,1693,Free Birds–$ 2.00 Fall Flick at Aurora Cineplex,2022-11-20,Aurora Cineplex,FREE BIRDS ( PG)–our $ 2.00 Fall Family Flicks...

Large Venue Events

,index,Event,Dates,Location,Description
0,1700,Atlanta Falcons vs. Chicago Bears – Nov. 20,2022-11-20,Mercedes-Benz Stadium,Come watch the Atlanta Falcons take on the Chi...
1,1829,ATEEZ – The Fellowship: Break The Wall Tour,2022-11-22,State Farm Arena,K-pop giants ATEEZ have announced a monumental...
2,1865,Atlanta Hawks vs. Sacramento Kings,2022-11-23,State Farm Arena,Come cheer on the Hawks as they take on the Sa...
3,2080,Atlanta Hawks vs. Miami Heat,2022-11-27,State Farm Arena,Come cheer on the Hawks as they take on the Mi...
4,2264,Rod Wave – Beautiful Mind Tour,2022-12-01,State Farm Arena,Platinum-selling rapper Rod Wave has announced...
5,2298,Disney On Ice: Frozen & Encanto,2022-12-02,State Farm Arena,"For the first time, Disney On Ice invites fami..."
6,2315,Atlanta Hawks vs. Denver Nuggets,2022-12-02,State Farm Arena,Come cheer on the Hawks!
7,2361,2022 SEC Football Championship,2022-12-03,Mercedes-Benz Stadium,The 2022 SEC Championship Game is on course to...
8,2406,Atlanta Falcons vs. Pittsburgh Steelers – Dec. 4,2022-12-04,Mercedes-Benz Stadium,Come watch the Atlanta Falcons take on the Pit...
9,2430,Atlanta R&B Music Experience,2022-12-04,State Farm Arena,It was announced today that ‘Atlanta R&B Music...
10,2480,Atlanta Hawks vs. Oklahoma City Thunder,2022-12-05,State Farm Arena,Come cheer on the Hawks as they take on the Ok...
11,2715,Holiday Hoopsgiving 2022,2022-12-10,State Farm Arena,Holiday Hoopsgiving College edition is a men’s...
12,2777,Atlanta Hawks vs. Chicago Bulls,2022-12-11,State Farm Arena,Come cheer on the Hawks as they take on the Ch...
13,2832,Cirque Musica: Holiday Wonderland,2022-12-13,State Farm Arena,Cirque Musica: Holiday Wonderland is a must-se...
14,2914,"iHeartRadio Jingle Ball: Sam Smith, Pitbull, AJR",2022-12-15,State Farm Arena,Get ready to celebrate the holidays in the bes...
15,2951,Maxwell – V-103 Winterfest,2022-12-16,State Farm Arena,Grammy Award-winning artist Maxwell will headl...
16,3006,2022 Cricket Celebration Bowl,2022-12-17,Mercedes-Benz Stadium,The Cricket Celebration Bowl is a postseason c...
17,3083,Holiday Hoopsgiving 2022,2022-12-18,State Farm Arena,Holiday Hoopsgiving College edition is a men’s...
18,3111,Atlanta Hawks vs. Orlando Magic,2022-12-19,State Farm Arena,
19,3179,NBA Atlanta Hawks vs. Chicago Bulls,2022-12-21,State Farm Arena,Come cheer on the Hawks as they take on the Ch...
20,3259,NBA Atlanta Hawks vs. Detroit Pistons,2022-12-23,State Farm Arena,Come cheer on the Hawks as they take on the De...
21,3452,NBA Atlanta Hawks vs. Brooklyn Nets,2022-12-28,State Farm Arena,Come cheer on the Hawks as they take on the Br...
22,3545,NBA Atlanta Hawks vs. Los Angeles Lakers,2022-12-30,State Farm Arena,Come cheer on the Hawks as they take on the Lo...
23,3573,Chick-fil-a Peach Bowl 2022,2022-12-31,Mercedes-Benz Stadium,
24,3601,Atlanta Falcons vs. Arizona Cardinals – Jan. 1,2023-01-01,Mercedes-Benz Stadium,Come watch the Atlanta Falcons take on the Ari...
25,3757,NBA Atlanta Hawks vs. Milwaukee Bucks,2023-01-11,State Farm Arena,Come cheer on the Atlanta Hawks as they take o...
26,3819,NBA Atlanta Hawks vs. Miami Heat,2023-01-16,State Farm Arena,Come cheer on the Hawks as they take on the Mi...
27,3932,Bruce Springsteen and the E Street Band,2023-02-03,State Farm Arena,Bruce Springsteen and The E Street Band will k...
28,3933,Bruce Springsteen and The E Street Band,2023-02-03,State Farm Arena,It’s the return of Bruce Springsteen and the l...
29,3937,Ledisi & Kem – Soul II Soul Tour,2023-02-04,State Farm Arena,"Coming up in early 2023, Ledisi will be teamin..."
30,3956,Carrie Underwood The Denim & Rhinestones Tour,2023-02-07,State Farm Arena,n the heels of her triumphant headlining retur...
31,3957,Carrie Underwood Denim & Rhinestones Tour,2023-02-07,State Farm Arena,Country superstar Carrie Underwood is coming t...