In [1]:
import pandas as pd
import sqlite3 as db
import numpy as np

import datetime
from datetime import datetime, timedelta, date

In [2]:
def rental_availability():
    '''
    Joins the LuxuryAPI, Regular API, Kaggle CSV, and the Webscraping events into one query. It then returns rental availability
    and an event schedule based on the date provided. 

    Inputs:

    LuxuryAPI table
    API table
    Kaggle table
    WebScrape table    

    Returns:

    A single query with rental availability
        
    '''

    # YOUR CODE HERE
    conn = db.connect('rentaldb')
    c = conn.cursor()
    query = f'''
        SELECT
            LuxuryAPI.model, API.Vehicle_Name, Kaggle.model, LuxuryAPI.pickupdate, Kaggle.daily_rate, API.Base_Price, Webscrape.Event, Webscrape.Dates
        FROM 
            LuxuryAPI
            Left JOIN API ON API.Vehicle_Name = LuxuryAPI.model
            Left JOIN Kaggle ON Kaggle.model = LuxuryAPI.model
            Left JOIN Webscrape ON Webscrape.Dates = LuxuryAPI.pickupdate
        
    '''
    c.execute(query)
    availability = c.fetchall()
    return availability

In [3]:
conn = db.connect('rentaldb')

In [4]:
c = conn.cursor()

In [5]:
luxdf = pd.read_sql_query("SELECT * FROM LuxuryAPI", conn)
print('LuxuryAPI')
display(luxdf.head())

LuxuryAPI

,index,Vehicle_id,Vehicle Name,Category,Transmission,Base Price,Price,Date Pickup,Date Dropoff
0,208,644881573,Cadillac XTS,Luxury,Automatic,171.26,178.20,2022-11-18,2022-11-19
1,237,636479888,Cadillac XTS,Luxury,Automatic,164.51,171.18,2022-11-18,2022-11-19
2,215,646119413,Cadillac XTS,Luxury,Automatic,158.72,165.16,2022-11-18,2022-11-19
3,232,644901168,Cadillac XTS,Luxury,Automatic,153.78,160.02,2022-11-18,2022-11-19
4,235,636492688,Cadillac XTS,Luxury,Automatic,147.14,153.11,2022-11-18,2022-11-19

In [6]:
rental_availability()

OperationalError: no such column: LuxuryAPI.model