AIPI 510 PROJECT

In [19]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt

Getting Booking.com Rental Car API:

In [20]:
import requests
import creds

url = "https://booking-com.p.rapidapi.com/v1/car-rental/search"

querystring = {"drop_off_longitude":"-84.419853","currency":"USD","sort_by":"recommended","drop_off_datetime":"2023-01-03 19:00:00","drop_off_latitude":"33.640411","from_country":"it","pick_up_longitude":"-84.419853","locale":"en-gb","pick_up_datetime":"2023-01-01 19:00:00","pick_up_latitude":"33.640411"}

headers = {
	"X-RapidAPI-Key": f"{creds.api_key}", 
	"X-RapidAPI-Host": "booking-com.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)
results = response.json()
#df = pd.DataFrame.from_dict(results, orient="index")
#print(results)

In [6]:
df = pd.DataFrame.from_dict(results['search_results'])
df

,rating_info,accessibility,route_info,pricing_info,supplier_info,freebies,applied_discount_types,vehicle_info,fee_info,content
0,"{'pickup_time': 5.0, 'average_text': 'Good', '...",{'fuel_policy': 'Fuel policy is: Like for like...,"{'pickup': {'country_code': 'US', 'address': '...","{'pay_when': 'PAY_NOW', 'base_deposit': 45.0, ...","{'longitude': '-84.445126', 'pickup_instructio...",[Amendments],[],"{'badges': {}, 'seats': '5', 'airbags': 1, 'cm...","{'fee': 0.0, 'tax': 0, 'currency': '', 'type':...","{'badges': [{'type': 'CONSTRUCTIVE', 'text': '..."
1,"{'location': 7.7, 'cleanliness': 7.6, 'dropoff...",{'fuel_policy': 'Fuel policy is: Like for like...,"{'dropoff': {'latitude': '33.640874', 'address...","{'drive_away_price_before': None, 'drive_away_...",{'logo_url': 'https://cdn.rcstatic.com/sp/imag...,[Amendments],[],"{'badges': {}, 'seats': '5', 'airbags': 1, 'cm...","{'currency': '', 'type': '', 'fee': 0.0, 'tax'...","{'badges': [{'variation': 'DEFAULT', 'text': '..."
2,"{'location': 7.7, 'cleanliness': 7.6, 'efficie...",{'pick_up_location': 'Pick-up information: Car...,"{'pickup': {'latitude': '33.640874', 'country_...",{'fee_breakdown': {'known_fees': [{'type': 'TH...,"{'latitude': '33.640874', 'may_require_credit_...",[Amendments],[],"{'v_name': 'Buick Encore', 'v_id': '697010086'...","{'fee': 0.0, 'tax': 0, 'currency': '', 'type':...","{'badges': [{'type': 'CONSTRUCTIVE', 'text': '..."
3,"{'efficiency': 5.5, 'no_of_ratings': 596, 'dro...",{'pick_up_location': 'Pick-up information: Car...,"{'pickup': {'longitude': '-84.445126', 'city':...","{'discount': 0.0, 'price': 242.59, 'drive_away...","{'may_require_credit_card_guarantee': False, '...",[Amendments],[],"{'fuel_policy_description': '', 'v_name': 'Toy...","{'tax': 0, 'fee': 0.0, 'type': '', 'currency':...","{'badges': [{'type': 'CONSTRUCTIVE', 'text': '..."
4,"{'average_text': 'Good', 'pickup_time': 5.0, '...","{'supplier_rating': 'At this location, our cus...","{'pickup': {'country_code': 'US', 'address': '...","{'base_currency': 'EUR', 'fee_breakdown': {'kn...","{'longitude': '-84.445126', 'pickup_instructio...",[Amendments],[],"{'fuel_type': 'N/A', 'label': 'Compact car wit...","{'fee': 0.0, 'tax': 0, 'currency': '', 'type':...","{'badges': [{'text': 'Free cancellation', 'var..."
...,...,...,...,...,...,...,...,...,...,...
334,"{'cleanliness': 9.4, 'location': 9.0, 'conditi...",{'pick_up_location': 'Pick-up information: Car...,"{'pickup': {'longitude': '-84.4636', 'location...","{'drive_away_price_before': None, 'deposit': 5...","{'latitude': '33.6397', 'may_require_credit_ca...",[Amendments],[],"{'v_name': 'Mitsubishi Mirage ', 'mileage': '...","{'tax': 0, 'fee': 0.0, 'type': '', 'currency':...","{'badges': [{'type': 'CONSTRUCTIVE', 'text': '..."
335,"{'location': 9.1, 'cleanliness': 9.1, 'value_f...",{'pick_up_location': 'Pick-up information: {lo...,"{'pickup': {'icon': '', 'city': '', 'location_...","{'drive_away_price_before': None, 'deposit': 5...","{'location_type': None, 'dropoff_instructions'...",[Amendments],[],"{'label': 'Economy car with:', 'fuel_type': 'N...","{'fee': 0.0, 'tax': 0, 'currency': '', 'type':...","{'badges': [{'type': 'CONSTRUCTIVE', 'variatio..."
336,"{'location': 9.1, 'cleanliness': 9.3, 'value_f...","{'fuel_policy': 'Fuel policy is: Free Tank', '...","{'dropoff': {'latitude': '33.6397', 'country_c...","{'base_currency': 'EUR', 'fee_breakdown': {'kn...",{'pickup_instructions': 'Take the SkyTrain to ...,[Amendments],[],"{'seats': '5', 'badges': {}, 'cma_compliant': ...","{'tax': 0, 'fee': 0.0, 'type': '', 'currency':...","{'badges': [{'text': 'Free cancellation', 'var..."
337,"{'average_text': 'Excellent', 'pickup_time': 7...","{'supplier_rating': 'At this location, our cus...","{'dropoff': {'address': '2200, RENTAL CAR CENT...","{'currency': 'USD', 'drive_away_price_is_appro...","{'latitude': '33.643417', 'may_require_credit_...",[Amendments],[],"{'suitcases': {'small': '2', 'big': '0'}, 'ima...","{'tax': 0, 'fee': 0.0, 'type': '', 'currency':...","{'badges': [{'variation': 'DEFAULT', 'text': '..."
338,"{'no_of_ratings': 47, 'efficiency': 8.9, 'valu...",{'pick_up_location': 'Pick-up information: Car...,"{'pickup': {'address': '2200, RENTAL CAR CNTR ...","{'drive_away_price_before': None, 'drive_away_...","{'longitude': '-84.4636', 'pickup_instructions...",[Amendments],[],"{'aircon': 1, 'fuel_type': 'N/A', 'label': 'Ec...","{'tax': 0, 'fee': 0.0, 'type': '', 'currency':...","{'badges': [{'variation': 'DEFAULT', 'text': '..."

In [44]:
#this will expand all the json into separate columns but so many columns as seen below!
df2 = pd.json_normalize(results, record_path =['search_results'])
df2

,freebies,applied_discount_types,rating_info.location,rating_info.condition,rating_info.pickup_time,rating_info.average_text,rating_info.no_of_ratings,rating_info.dropoff_time,rating_info.efficiency,rating_info.cleanliness,...,vehicle_info.transmission,vehicle_info.fuel_policy_description,vehicle_info.special_offer_text,vehicle_info.suitcases.big,vehicle_info.suitcases.small,vehicle_info.group,vehicle_info.fuel_type,vehicle_info.label,vehicle_info.aircon,vehicle_info.cma_compliant
0,[Amendments],[],9.1,9.2,7.7,Excellent,1092,9.7,8.8,9.3,...,Automatic,,1 free additional driver,0,4,Intermediate,N/A,Intermediate car with:,1,-1
1,[Amendments],[],7.7,7.7,6.3,Very good,446,9.1,6.6,7.6,...,Automatic,,None,0,4,Premium,N/A,Premium car with:,1,-1
2,[Amendments],[],7.6,6.5,5.2,Good,594,9.4,5.7,6.8,...,Automatic,,None,0,5,Premium,N/A,Premium car with:,1,-1
3,[Amendments],[],9.1,9.2,7.7,Excellent,1092,9.7,8.8,9.3,...,Automatic,,1 free additional driver,0,4,Intermediate,N/A,Intermediate car with:,1,-1
4,[Amendments],[],9.1,8.5,7.8,Excellent,15,8.9,8.0,9.1,...,Automatic,,None,0,4,Intermediate,N/A,Intermediate car with:,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,[Amendments],[],9.1,9.2,7.7,Excellent,1092,9.7,8.8,9.3,...,Automatic,,None,0,2,Standard,N/A,Standard car with:,1,-1
335,[Amendments],[],9.1,9.2,7.7,Excellent,1092,9.7,8.8,9.3,...,Automatic,,Young Driver Premium Package: Price includes y...,0,2,Economy,N/A,Economy car with:,1,-1
336,[Amendments],[],9.0,9.0,8.6,Superb,47,9.7,8.9,9.4,...,Automatic,,Premium Sat-Nav package – All additional drive...,0,2,Economy,N/A,Economy car with:,1,-1
337,[Amendments],[],7.7,7.7,6.3,Very good,446,9.1,6.6,7.6,...,Automatic,,"Free tank of fuel, child seat rental and up to...",0,5,Premium,N/A,Premium car with:,1,-1
338,[Amendments],[],7.7,7.7,6.3,Very good,446,9.1,6.6,7.6,...,Automatic,,Free tank of fuel and child seat,0,5,Premium,N/A,Premium car with:,1,-1

In [31]:
#list of the columns to choose to include...
df2.columns

Index(['freebies', 'applied_discount_types', 'rating_info.location',
       'rating_info.condition', 'rating_info.pickup_time',
       'rating_info.average_text', 'rating_info.no_of_ratings',
       'rating_info.dropoff_time', 'rating_info.efficiency',
       'rating_info.cleanliness', 'rating_info.average',
       'rating_info.value_for_money', 'content.badges',
       'accessibility.transmission', 'accessibility.fuel_policy',
       'accessibility.pick_up_location', 'accessibility.supplier_rating',
       'fee_info.currency', 'fee_info.type', 'fee_info.fee', 'fee_info.tax',
       'pricing_info.fee_breakdown.known_fees',
       'pricing_info.fee_breakdown.fuel_policy.type',
       'pricing_info.fee_breakdown.fuel_policy.currency',
       'pricing_info.fee_breakdown.fuel_policy.amount', 'pricing_info.price',
       'pricing_info.base_deposit', 'pricing_info.drive_away_price_is_approx',
       'pricing_info.drive_away_price_before', 'pricing_info.base_price',
       'pricing_info.pay_when', 'pricing_info.drive_away_price',
       'pricing_info.deposit', 'pricing_info.currency',
       'pricing_info.quote_allowed', 'pricing_info.discount',
       'pricing_info.base_currency', 'supplier_info.pickup_instructions',
       'supplier_info.longitude', 'supplier_info.location_type',
       'supplier_info.address',
       'supplier_info.may_require_credit_card_guarantee',
       'supplier_info.dropoff_instructions', 'supplier_info.logo_url',
       'supplier_info.latitude', 'supplier_info.name',
       'route_info.dropoff.latitude', 'route_info.dropoff.country_code',
       'route_info.dropoff.name', 'route_info.dropoff.address',
       'route_info.dropoff.location_id', 'route_info.dropoff.city',
       'route_info.dropoff.longitude', 'route_info.dropoff.location_type',
       'route_info.dropoff.country', 'route_info.dropoff.icon',
       'route_info.pickup.location_id', 'route_info.pickup.city',
       'route_info.pickup.address', 'route_info.pickup.latitude',
       'route_info.pickup.name', 'route_info.pickup.country_code',
       'route_info.pickup.icon', 'route_info.pickup.country',
       'route_info.pickup.location_type', 'route_info.pickup.longitude',
       'vehicle_info.unlimited_mileage', 'vehicle_info.insurance_package',
       'vehicle_info.doors', 'vehicle_info.image_url', 'vehicle_info.v_id',
       'vehicle_info.v_name', 'vehicle_info.mileage',
       'vehicle_info.free_cancellation', 'vehicle_info.airbags',
       'vehicle_info.seats', 'vehicle_info.image_thumbnail_url',
       'vehicle_info.fuel_policy', 'vehicle_info.transmission',
       'vehicle_info.fuel_policy_description',
       'vehicle_info.special_offer_text', 'vehicle_info.suitcases.big',
       'vehicle_info.suitcases.small', 'vehicle_info.group',
       'vehicle_info.fuel_type', 'vehicle_info.label', 'vehicle_info.aircon',
       'vehicle_info.cma_compliant'],
      dtype='object')

In [45]:
df2['vehicle_info.group'].value_counts()

Standard        79
Full-size       65
Intermediate    63
Premium         41
Compact         31
Luxury          27
Economy         24
Mini             6
Special          3
Name: vehicle_info.group, dtype: int64

In [81]:
def clean_api_df(data_df):
  df_cleaned = data_df.copy()
  
  #filter to the columns we want to keep
  columns_to_keep = ['vehicle_info.v_id', 'vehicle_info.v_name', 'vehicle_info.group', 'vehicle_info.transmission', 'route_info.dropoff.city', 'pricing_info.base_price', 'route_info.pickup.city']
  #filter to the types of vehicles in vehicle.group
  vehicle_groups_to_keep = ['Luxury']
  df_cleaned=df_cleaned[columns_to_keep]
  df_cleaned=df_cleaned[df_cleaned['vehicle_info.group'].isin(vehicle_groups_to_keep)]
  df_cleaned.rename(columns={'vehicle_info.v_id':'Vehicle_id', 'vehicle_info.v_name': 'Vehicle_Name', 'vehicle_info.group': 'Category', 'pricing_info.base_price': 'Base_Price','vehicle_info.transmission': 'Transmission', 'route_info.dropoff.city': 'Dropoff_City', 'route_info.pickup.city': 'Pickup_City'}, inplace=True)
  df_cleaned.sort_values(by='Base_Price', ascending=False, inplace=True)
  return df_cleaned

In [82]:
df_cleaned = clean_api_df(df2)
df_cleaned

,Vehicle_id,Vehicle Name,Category,Transmission,Dropoff City,Base Price,Pickup City
214,644881573,Cadillac XTS,Luxury,Automatic,,379.75,
110,673928006,Mercedes-Benz GLC,Luxury,Automatic,,367.62,
207,636479888,Cadillac XTS,Luxury,Automatic,,365.86,
202,646119413,Cadillac XTS,Luxury,Automatic,,354.34,
142,674291426,Lincoln Continental,Luxury,Automatic,,352.44,
181,644901168,Cadillac XTS,Luxury,Automatic,,344.96,
136,723428946,BMW 5 Series,Luxury,Automatic,,338.18,
180,636492688,Cadillac XTS,Luxury,Automatic,,331.29,
108,631553768,Lincoln Continental,Luxury,Automatic,,328.93,
121,644861493,Cadillac XTS,Luxury,Automatic,,321.76,
125,646151293,Cadillac XTS,Luxury,Automatic,,319.76,
146,658137488,Chrysler 300,Luxury,Automatic,,319.03,
148,658190013,Chrysler 300,Luxury,Automatic,,316.49,
119,636472613,Cadillac XTS,Luxury,Automatic,,308.24,
36,644841863,Cadillac XTS,Luxury,Automatic,,298.56,
77,646141193,Cadillac XTS,Luxury,Automatic,,296.71,
40,735898091,Cadillac XTS,Luxury,Automatic,,296.71,
80,659534556,Chrysler 300,Luxury,Automatic,,296.19,
70,643095306,Buick LaCrosse,Luxury,Automatic,,293.65,
65,642896921,Chrysler 300,Luxury,Automatic,,293.65,
111,658163273,Chrysler 300,Luxury,Automatic,,291.12,
29,636464758,Cadillac XTS,Luxury,Automatic,,285.20,
12,735895261,Cadillac XTS,Luxury,Automatic,,273.66,
23,638446461,Chrysler 300,Luxury,Automatic,,273.35,
26,638489136,Chrysler 300,Luxury,Automatic,,273.35,
10,631938698,Buick LaCrosse,Luxury,Automatic,,268.28,
8,585207183,Chrysler 300,Luxury,Automatic,,268.28,

In [55]:
#going to look at a different date; we still don't have inventory or number of rentals for different dates
querystring2 = {"drop_off_longitude":"-84.419853","currency":"USD","sort_by":"recommended","drop_off_datetime":"2022-11-20 19:00:00","drop_off_latitude":"33.640411","from_country":"it","pick_up_longitude":"-84.419853","locale":"en-gb","pick_up_datetime":"2022-11-18 19:00:00","pick_up_latitude":"33.640411"}
response2 = requests.request("GET", url, headers=headers, params=querystring2)
results2 = response2.json()
df_attempt2 = pd.json_normalize(results2, record_path =['search_results'])
df_cleaned_attempt2 = clean_api_df(df_attempt2)
df_cleaned_attempt2

,Vehicle_id,Vehicle Name,Category,Transmission,Dropoff City,pricing_info.base_price,Pickup City
19,644841863,Cadillac XTS,Luxury,Automatic,,164.33,
20,735895261,Cadillac XTS,Luxury,Automatic,,140.29,
34,735898091,Cadillac XTS,Luxury,Automatic,,163.31,
36,636464758,Cadillac XTS,Luxury,Automatic,,151.80,
89,646141193,Cadillac XTS,Luxury,Automatic,,163.31,
113,644861493,Cadillac XTS,Luxury,Automatic,,187.56,
122,644901168,Cadillac XTS,Luxury,Automatic,,210.71,
142,636492688,Cadillac XTS,Luxury,Automatic,,197.91,
143,646151293,Cadillac XTS,Luxury,Automatic,,186.39,
146,636472613,Cadillac XTS,Luxury,Automatic,,174.85,
149,646119413,Cadillac XTS,Luxury,Automatic,,220.96,
181,644881573,Cadillac XTS,Luxury,Automatic,,245.52,
190,636479888,Cadillac XTS,Luxury,Automatic,,232.48,
258,673928006,Mercedes-Benz GLC,Luxury,Automatic,,350.80,
285,723428946,BMW 5 Series,Luxury,Automatic,,322.76,